
*{
    margin: 0px;
    padding: 0px;
}

/* Shared Styles */
body {
    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
      }
  
}

main {
    max-width: 1320px;
    margin: 1px auto;
  }

/* Banner Section Styles Start */

.banner {
    background-image: url('../resources/Banner\ Image.png');
    /* background-color: rgb(7, 2, 17); */
    background-repeat: no-repeat;
}
.banner-content{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 180px 350px;
}
.banner-title {
color: #FFFFFF;
font-size: 32px;
font-weight: 400;
}
.main-banner-tittle {
color: #FFFFFF;
font-size: 90px;
font-weight: 700;
}
/* Banner Section Styles End */

/* Categories Section Styles start */

.categories-section {
    margin: 100px auto;
}
.category-content {
    text-align: center;
}
.category-tittle-1 {
color: #FF0000;
font-size: 88px;
font-weight: 700;
margin-bottom: 50px;
}
.category-tittle-2 {
color: #FF0000;
font-size: 24px;
font-weight: 500;
margin-bottom: 20px;
}
.category-tittle-3 {
color: #070211;
font-size: 46px;
font-weight: 700;
margin-bottom: 30px;
}
/* Categories Section Styles End */

/* Welcome Party Section Styles Start */

.welcome-party-container {
background-image: url('../resources/Vectorrr.png');
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
padding: 60px 130px;
gap: 50px;
}
.welcome-party-contant {
text-align: left;
}
.welcome-party-tittle {
color: #FFFFFF;
font-size: 64px;
font-weight: 900;
}

.welcome-party-description {
    color: #FFFFFF;
    opacity: 60%;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
}
.welcome-party-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}
/* .welcome-party-btn :hover {
    text-decoration: underline;
    animation: reverse;
} */
/* Welcome Party Section Styles End */

/* Join Now Section Style Start */
.join-now-container {
    background-color: blanchedalmond;
    text-align: center;
    margin: 120px 0px;
    padding: 100px 350px;
    border-radius: 10px;


}
.join-now-tittle {
margin-bottom: 20px;
color: #070211;
font-size: 32px;
font-weight: 600;
}
.join-now-tittle-name {
    color: #FF0000;
}
.join-now-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 8px;
}
/* Join Now Section Style End */

/* coming soon Styles Start */

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 120px 100px;
}
.new-offer {
    color: #FF0000;
    font-size: 24px;
    font-weight: 400;
}
.coming-soon-tittle {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
}
.coming-soon-description {
    color: #070211;
    opacity: 60%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
   
}
.round-img {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 40px;
}
.tittle-2024 {
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
}
.coming-soon-icon {
    padding: 50px 0px;
    width: 120px;
}
/* coming soon Styles End */

/* Holidays section styles start */

.holidays {
    text-align: center;
    /* padding: 0px 100px; */
    height: 700px;
    background-image: url('../resources/Rectangle\ 2.png');
    /* background-image: url('../resources/Rectangle\ 1.png'); */
    background-repeat: no-repeat;
    background-position: bottom;
}
.holiday-content {
    width: 600px;
    align-items: center;
    margin: 0px auto;
}
.holiday-info {
    color: #070211;
    font-size: 24px;
    font-weight: 500;

}
.holiday-tittle {
color: #070211;
font-size: 72px;
font-weight: 900;
}
.holiday-tittle-mini {
    color: #FF0000;
}
.holiday-description {
    color: #070211;
    opacity: 60%;
    font-size: 20px;
    font-weight: 500;
}
.holiday-img-container {
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    border: 1px solid black;
}
.holiday-img-1 {

}
.holiday-img-2 {
    background-repeat: no-repeat;
    background-position: bottom;
}


/* Portfolio section styles Start */

.portfolio-container {
    margin: 0px 10px;
}
.portfolio-sub-tittle {
color: #FF0000;
font-size: 24px;
font-weight: 500;
margin-bottom: 10px;
}
.portfolio-tittle {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.portfolio-description {
    color: #070211;
    opacity: 50%;
    font-size: 20px;
    font-weight: 400;
    width: 60%;
    margin-bottom: 30px;
}
.portfolio-img {
    margin: 5px;

}
.portfolio-img:hover {
    border: 2px solid goldenrod;
    border-radius: 16px;
    position: sticky;


}

/* <!-- Subscribe Section Start --> */

.subscribe {
    text-align: center;
    margin: 120px auto;
    padding: 50px 250px;
    background-color: papayawhip;
    border-radius: 16px;
}
.subscribe-tittle {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.subscribe-description {
    color: #070211;
    opacity: 60%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 800px;
}
.input-btn {
    padding: 15px 30px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.submit-btn {
    color: #FFFFFF;
    padding: 15px 30px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #FF0000
    
}

/* <!-- Subscribe Section end --> */

/* footer section */

footer {
    background-color: #070211;

}
/* subscribe end */
/* footer styles start */

.footer-top {
    color: #FFFFFF;
display: flex;
justify-content: space-between;
align-items: center;
padding: 70px 120px;
}
.footer-middle {
align-items: center;
text-align: center;
padding: 50px;
}
.footer-bottom {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 120px;
    
}
.footer-img {
    margin: 0px 10px;
}
.footer-img:hover{
    animation: ;
}

hr {
color: #FFFFFF;
opacity: 15%;
margin: 0px 120px;
}

.footer-tittle {
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}