
*{
    margin: 0px;
    padding: 0px;
}

/* Shared Styles */
body {
    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
      }
  
}

main {
    max-width: 1320px;
    margin: 10px auto;
  }

/* Banner Section Styles Start */

.banner {
    background-image: url('../resources/Banner\ Image.png');
    /* background-color: rgb(7, 2, 17); */
    background-repeat: no-repeat;
}
.banner-content{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 180px 350px;
}
.banner-title {
color: #FFFFFF;
font-size: 32px;
font-weight: 400;
}
.main-banner-tittle {
color: #FFFFFF;
font-size: 90px;
font-weight: 700;
}
/* Banner Section Styles End */

/* Categories Section Styles start */

.categories-section {
    margin: 100px auto;
}
.category-content {
    text-align: center;
}
.category-tittle-1 {
color: #FF0000;
font-size: 88px;
font-weight: 700;
margin-bottom: 50px;
}
.category-tittle-2 {
color: #FF0000;
font-size: 24px;
font-weight: 500;
margin-bottom: 20px;
}
.category-tittle-3 {
color: #070211;
font-size: 46px;
font-weight: 700;
margin-bottom: 30px;
}